<header>
    <nav class="navbar navbar-expand-sm border-b">
      <div class="container">
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex justify-between items-center" id="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <a class="nav-link" href="/index">Home</a>
            <a class="nav-link" href="/browse">Browse</a>
          </ul>
          <ul class="navbar-nav me-auto">
            <a class="nav-link" href="/cart">Cart</a>
            <a class="nav-link" href="/account">Account</a>
            <a class="nav-link" href="/login">Login</a>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  