<footer>
</footer>
<!-- Need to add these scripts for functionality -->
<script src="static/js/search.js"></script>
<script src="static/js/popover.js"></script>
<script src="static/js/modal.js"></script>
<script src="static/js/signin_handler.js"></script>
<script src="static/js/toggle_password_visibility.js"></script>
<!-- <script src="static/js/render_remote_content.js"></script> -->
<script src="static/js/toast_notification.js"></script>
</body>
</html>