<!-- This will get pushed down when other content fills the page -->
<footer class="max-w-7xl mx-auto flex items-center justify-center gap-2">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z"/></svg>
    </div>
    <div>
        <h3>Copyright 2023 - CyberShelf</h3>
    </div>
</footer>
<!-- Need to add these scripts for functionality -->
<script src="static/js/cart_handler.js"></script>
<script src="static/js/search.js"></script>
<script src="static/js/popover.js"></script>
<script src="static/js/modal.js"></script>
<script src="static/js/signin_handler.js"></script>
<script src="static/js/signout_handler.js"></script>
<script src="static/js/registration_handler.js"></script>
<script src="static/js/toggle_password_visibility.js"></script>
<script src="static/js/select_menu.js"></script>
<script src="static/js/toast_notification.js"></script>
</body>
</html>