<div
  id="home-hero-section"
  class="relative isolate px-6 pt-14 lg:px-8 border-b pb-10 mb-10"
>
  <div class="mx-auto max-w-2xl">
    <div class="flex justify-center max-h-24">
      <img
        src="/static/img/cybershelf_logo.png"
        alt="#"
        class="object-contain"
      />
    </div>
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
        Enrich your online shopping experience
      </h1>
      <!-- TODO: Add some real text here -->
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Unleash the Power of Cyberspace: Elevate your online shopping journey
        with Cybershelf &#8212 Your Gateway to Seamless Selections, Smart Savings,
        and Effortless Enjoyment.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <button
          id="browse-products-button"
          class="bg-blue-600 px-3 py-1.5 rounded-md text-lg text-gray-100 hover:bg-blue-500 hover:text-white"
        >
          Browse All Listings
        </button>
        <button
          id="show-register-form"
          class="bg-white px-3 py-1.5 text-lg text-gray-800 fill-gray-800 font-semibold hover:text-blue-500 hover:fill-blue-500 flex items-center justify-between gap-x-1 <%- locals.authenticated ? 'hidden' : 'block' %>"
        >
          Register
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="12"
              width="12"
              viewBox="0 0 512 512"
            >
              <path
                d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"
              />
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div
    class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>
</div>
