<dialog
  id="empty-modal"
  class="rounded-lg p-2 w-88 xs:w-96 md:w-112 backdrop:backdrop-blur-sm border-none ring-0 outline-none drop-shadow-lg"
>
  <div class="w-full flex justify-end items-center">
    <button autofocus id="close-modal">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>

  <div id="modal-content" class="w-full h-full"></div>
  <div id="response"></div>
</dialog>
