<!-- 
  Notes for Popovers:
    - Positions: attached (attached to trigger), top-left, top-right, bottom-left, bottom-right, center, etc. (can document this later)
    
-->

<div
  popover
  id="<%- locals.popover_id %>"
  class="<%- locals.popover_class %>"
></div>
