<!-- Custom select menu using Popover API -->
<div id="select-container">
  <button popovertarget="select-menu">Select</button>
  <div popover id="select-menu" class="absolute flex border border-gray-300" >
    <!-- Inject content into here but static for now -->
    <a href="#">Item 1</a>
    <a href="#">Item 2</a>
    <a href="#">Item 3</a>
    <a href="#">Item 4</a>
  </div>
</div>
