<%- include ('../components/navigation', Object.assign(locals)) %>

<main>
    <%- include ('../components/home_hero', Object.assign(locals)) %>

    <%- include ('../components/feature_promo') %>
</main>
