<%- include ('../components/header') %>
<%- include ('../components/menu') %>

<h1>Account</h1>
<!-- <section class="vh-100" style="background-color: #f4f5f7;"> -->
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <br>
            <div class="row g-0">
                <h5 style="text-align:center">Jordan Okada</h5>
                <!-- <i class="far fa-edit mb-5"></i> -->
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Bio</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">info@example.com</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">123 456 789</p>
                    </div>
                  </div>
                  <div class="row pt-1">
                        <div class="col-6 mb-3">
                            <h6>Address</h6>
                            <p class="text-muted">123 Broadway</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Address</h6>
                            <p class="text-muted">123 Broadway</p>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                            <a href="/edit" class="btn btn-primary">Edit Profile</a>
                        </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- </section> -->

<%- include ('../components/footer') %>