<%- include ('../components/header') %>
<%- include ('../components/menu') %>
    <!-- <div class="row">
    <div class="container rounded bg-white mt-5 mb-5">
      <div class="row">
        <h4 class="text-Right">Account</h4>
          <div class="col-md-3 border-right">
              <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="120px" src="https://th.bing.com/th/id/OIP.S171c9HYsokHyCPs9brbPwHaGP?rs=1&pid=ImgDetMain" alt=""><span class="font-weight-bold">Jordan Okada</span><span class="text-black-50">jook@colorado.edu</span><span> </span></div>
          </div>
          <div class="col-md-5 border-right">
              </div>
                  <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                      <br>
                      <div class="row g-0">
                        <div class="col-md-8">
                          <div class="card-body p-4">
                            <h6>Bio</h6>
                            <p class="text-muted">I love consumerism</p>
                            <hr class="mt-0 mb-4">
                            <div class="row pt-1">
                              <div class="col-6 mb-3">
                                <h6>Email</h6>
                                <p class="text-muted">info@example.com</p>
                              </div>
                              <div class="col-6 mb-3">
                                <h6>Phone</h6>
                                <p class="text-muted">123 456 789</p>
                              </div>
                            </div>
                            <div class="row pt-1">
                              <div class="col-6 mb-3">
                                <h6>Address</h6>
                                <p class="text-muted">123 Broadway</p>
                              </div>
                              <div class="col-6 mb-3">
                                <h6>Zip, City, State</h6>
                                <p class="text-muted">12345, Boulder, CO</p>
                              </div>
                            </div>
                            <div class="row pt-1">
                              <div class="col-6 mb-3">
                                <a href="/edit" class="btn btn-primary">Edit Profile</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    
    <div class="row">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="120px" src="https://th.bing.com/th/id/OIP.S171c9HYsokHyCPs9brbPwHaGP?rs=1&pid=ImgDetMain" alt=""><span class="font-weight-bold">Jordan Okada</span><span class="text-black-50">jook@colorado.edu</span><span> </span></div>
      </div>
      <div class="col">
        <div class="p-4 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Account</h4>
          </div>
          <div class="row mt-2">
            <div class="col col-lg-11 mb-4 mb-lg-0">
              <div class="card mb-3" style="border-radius: .5rem;">
                <br>
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body p-4">
                      <h6>Bio</h6>
                      <p class="text-muted">I love consumerism</p>
                      <hr class="mt-1 mb-1">
                      <div class="row pt-1">
                        <div class="col-6 mb-0">
                          <h6>Email</h6>
                          <p class="text-muted">info@example.com</p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Phone</h6>
                          <p class="text-muted">123 456 789</p>
                        </div>
                      </div>
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>Address</h6>
                          <p class="text-muted">123 Broadway</p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Zip, City, State</h6>
                          <p class="text-muted">12345, Boulder, CO</p>
                        </div>
                      </div>
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <a href="/edit" class="btn btn-primary">Edit Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div> 
        </div> 
      </div>
    </div>


<%- include ('../components/footer') %>