<%- include ('../components/header') %>
<%- include ('../components/menu') %>

<div class="container mx-auto my-8">
  <h1 class="text-3xl font-bold mb-4">UI Service Index Page</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    <div class="bg-white p-4 shadow-md rounded-md">
      <h3 class="text-xl font-semibold mb-4">Category #1</h3>
    </div>
  
    <div class="bg-white p-4 shadow-md rounded-md">
      <h3 class="text-xl font-semibold mb-4">Category #2</h3>
    </div>
  
    <div class="bg-white p-4 shadow-md rounded-md">
      <h3 class="text-xl font-semibold mb-4">Category #3</h3>
    </div>
  
  </div>

  <!-- We are going to inject the data into the div -->
  <div id="account" class="bg-white p-4 rounded shadow-md">
    <!-- Content will be injected here -->
  </div>

  <script>
    // This is an example of how to inject the content returned from a request into the page (without refreshing)
    $.ajax({
      url: "/account/settings",
      type: "GET",
      dataType: "html",
      success: function (data) {
        $("#account").html(data);
      },
      error: function (error) {
        $("#account").html(error);
      },
    });
  </script>
</div>

<%- include ('../components/footer') %>
