<%- include ('../components/header') %>
<%- include ('../components/menu') %>

<main>
  <div class="container">
    <form action="/login" method="POST"> <!-- Form for user login -->
      <div class="mb-3">
        <div>
          <h2>Login</h2>
        </div>
        <div>
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="username" required>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password" required>
      </div>

      <div class="row">
        <div class="col">
          <a href="/register" class="btn btn-primary">Register</a>
        </div>
        <div class="col text-end">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
  </div>
</main>

<%- include ('../components/footer') %>
