<%- include ('../components/header') %>
<%- include ('../components/menu') %>

<h2 class="text-3xl font-bold mb-4"> Product </h2>

<p>Description:</p>

<p>Price:</p>

<%- include ('../components/footer') %>