<%- include ('../components/header') %>
<%- include ('../components/menu') %>

<main>
  <div class="container">
    <form action="/register" method="POST"> <!-- Form for user registration -->
      <div class="mb-3">
        <div>
          <h2>Register</h2>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Type of Account
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Consumer</a>
            <a class="dropdown-item" href="#">Vendor</a>
            <a class="dropdown-item" href="#"></a>
          </div>
        </div>
        <div>
          <label for="first_name" class="form-label">First Name</label>
          <input type="text" name="first_name" class="form-control" id="first_name" required>
        </div>
        <div>
          <label for="last_name" class="form-label">Last Name</label>
          <input type="text" name="last_name" class="form-control" id="last_name" required>
        </div>
        <div class="mb-3"> 
          <label for="email" class="form-label">Email Address</label>
          <input type="text" name="email" class="form-control" id="email" required>
        </div>
        <div>
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="username" required>
        </div>
      </div>
      <div class>
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password" required>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</main>

<%- include ('../components/footer') %>
