<div class="p-4">
  <div class="border-b pb-2 mb-2">
    <h2 class="text-xl text-gray-800 font-semibold">Your Account</h2>
  </div>
  <div class="flex flex-col gap-y-4">
    <div class="flex flex-col w-60">
      <label for="edit-fullname">Full name</label>
      <input
        id="edit-fullname"
        type="text"
        name="name"
        class="mt-1 border-gray-800 rounded-md"
      />
    </div>
    <div class="flex flex-col w-60">
      <label for="edit-email">Email address</label>
      <input
        id="edit-email"
        type="email"
        name="email"
        class="mt-1 border-gray-800 rounded-md"
      />
    </div>
    <div class="flex flex-col w-60">
      <label for="edit-password">Change password</label>
      <input
        id="edit-password"
        type="password"
        name="password"
        class="mt-1 border-gray-800 rounded-md"
      />
    </div>
  </div>
</div>
