<!-- <div class="p-4">
  <div class="border-b pb-2 mb-2">
    <h2 class="text-xl text-gray-800 font-semibold">Your Account</h2>
  </div>
  <div class="flex flex-col gap-y-4">
    <div class="flex flex-col w-60">
      <label for="edit-fullname">Full name</label>
      <input
        id="edit-fullname"
        type="text"
        name="name"
        class="mt-1 border-gray-800 rounded-md"
      />
    </div>
    <div class="flex flex-col w-60">
      <label for="edit-email">Email address</label>
      <input
        id="edit-email"
        type="email"
        name="email"
        class="mt-1 border-gray-800 rounded-md"
      />
    </div>
    <div class="flex flex-col w-60">
      <label for="edit-password">Change password</label>
      <input
        id="edit-password"
        type="password"
        name="password"
        class="mt-1 border-gray-800 rounded-md"
      />
    </div>
  </div>
</div> -->


<div class="row">
  <div class="col-md-3 border-right">
    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="120px" src="https://th.bing.com/th/id/OIP.S171c9HYsokHyCPs9brbPwHaGP?rs=1&pid=ImgDetMain" alt=""><span class="font-weight-bold">Jordan Okada</span><span class="text-black-50">jook@colorado.edu</span><span> </span></div>
  </div>
  <div class="col">
    <div class="p-4 py-5">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="text-right">Account</h4>
      </div>
      <div class="row mt-2">
        <div class="col col-lg-11 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <br>
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body p-4">
                  <div class="flex flex-col gap-y-4">
                  <div class="row">
                    <div class="col mb-3">
                      <div class="flex flex-col w-60">
                        <h6>Change name</h6>
                        <!-- <label for="edit-fullname">Full name</label> -->
                        <input
                          id="edit-fullname"
                          type="text"
                          name="name"
                          class="mt-1 border-gray-800 rounded-md"
                        />
                      </div>
                  </div>
                  <div class="row">
                    <div class="col mb-3">
                      <h6>Change Email Address</h6>
                      <div class="flex flex-col w-60"> 
                        <!-- <label for="edit-email">Email address</label> -->
                        <input
                          id="edit-email"
                          type="email"
                          name="email"
                          class="mt-1 border-gray-800 rounded-md"
                        />
                      </div>
                    </div>
                    <div class="col mb-3">
                      <h6>Change Password</h6>
                      <div class="flex flex-col w-60"> 
                        <!-- <label for="edit-password">Change password</label> -->
                        <input
                          id="edit-password"
                          type="password"
                          name="password"
                          class="mt-1 border-gray-800 rounded-md"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
