<div>
  <div>
    <h1 class="text-gray-800 text-2xl">Featured Products</h1>
  </div>
  <div
    class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
  >
    <% locals.products.map((product) => { %>
    <div class="relative">
      <div
        class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none lg:h-80 hover:opacity-80 cursor-pointer"
      >
        <img
          src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
          alt="Front of men&#039;s Basic Tee in black."
          class="h-full w-full object-cover object-center lg:h-full lg:w-full"
        />
      </div>
      <div class="my-4 flex justify-between">
        <div>
          <h3 class="text-sm text-gray-800 font-semibold">
            <%= product.title %>
          </h3>
          <p class="mt-1 text-sm text-gray-500"><%= product.description %></p>
        </div>
        <p class="text-sm font-medium text-gray-900"><%= product.price %></p>
      </div>
      <div class="flex">
        <button
          id="add-to-cart-<%- product.id %>"
          class="bg-blue-600 rounded-md text-gray-100 text-sm hover:bg-blue-500 hover:text-white px-2 py-1.5"
        >
          Add to cart
        </button>
      </div>
    </div>
    <% }) %>
  </div>
</div>
